.mat-card-image {
  object-fit: cover;
  width: 100%;
  margin: 0 !important;
  max-width:50%;
}

.mat-card-title {
  font-size: 13px;
  font-weight: 500;
  padding-right: 16px;
  font-weight: bold;

}

.mat-card-content {
  font-size: 13px;
  height: 50px;
  margin-left: 16px;
  margin-right: 16px;
}


@media screen and (max-width: 911px) {
  .mat-card-content {
    font-size: 11px;
  }

  .mat-card-title {

    font-size: 10px;
    font-weight: bold;
  }
}



