.mat-card-image {
  width: 100%;
  margin: 0 !important;
}

.mat-card-title {
    font-size: larger;
    font-weight: 500;
    padding-right: 16px;
    font-weight: bold;
}

.mat-card-content {
    font-size: 13p;
    margin-left: 16px;
    margin-right: 16px;
}

.mat-card-actions {
}


@media screen and (max-width: 911px) {
}



